.centralizar-imagem{
    display: flex;
    justify-content: center;
}
.centralizar-texto{
    display: flex;
    justify-content: center;
}
.centralizar{
    text-align: center;
}
.alinhar{
    text-align: justify;
}